//Font Families

$Ff-primary: 'manrope', sans-serif;

//Font Weights

$Fw-regular: 400;
$Fw-medium: 500;
$Fw-semiBold: 600;
$Fw-bold: 700;

//Colors
$Clr-CardBackground: #ffffff;
$Clr-BodyBackground: #edf2f8;
$Clr-IconBackground-active: #6f8199;
$Clr-ModalBackground: #49556b;

//Other colors

$Clr-LightGrayishBlue-100: hsl(210, 46%, 95%);
$Clr-GrayishBlue-300: hsl(212, 23%, 69%);
$Clr-DesaturatedDarkBlue-500: hsl(214, 17%, 51%);
$Clr-VeryDarkGrayishBlue-700: hsl(217, 19%, 35%);

// .author__share-box--active-button {
// 	.author__share-button {
// 		background-color: $Clr-IconBackground-active;
// 		&-arrow {
// 			fill: $Clr-CardBackground;
// 		}
// 	}
// }
