@import 'variables.scss';
@import 'mixins.scss';
@import 'resets.scss';

body {
	@include flexer();
	min-height: 100vh;
	background-color: $Clr-BodyBackground;
	font-family: $Ff-primary;
}
.product {
	@include flexer();
	background-color: $Clr-CardBackground;
	border-radius: 10px;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);

	&__image {
		width: 285px;
		& img {
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
			width: 100%;
			height: 280px;
			object-fit: cover;
			object-position: top left;
		}
	}

	&__info {
		@include flexer(column, center, left);
		gap: 1rem;
		padding: 2.5rem;
		max-width: 445px;
		max-height: 280px;
	}
	&__title {
		font-size: 1.25rem;
		font-weight: $Fw-bold;
		color: $Clr-ModalBackground;
	}
	&__description {
		font-size: 0.8125rem;
		color: $Clr-IconBackground-active;
	}
}
.author {
	display: grid;
	gap: 1rem;
	align-items: center;
	grid-template-columns: 40px 1fr 33px;
	position: relative;

	& img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
	&__name {
		font-weight: $Fw-medium;
		font-size: 0.8125rem;
		color: $Clr-ModalBackground;
	}
	&__date {
		font-size: 0.75rem;
		color: $Clr-IconBackground-active;
	}
	&__share {
		height: 33px;
		width: 33px;
		background-color: $Clr-BodyBackground;
		border-radius: 50%;
		@include flexer();
		&:hover {
			background-color: $Clr-ModalBackground;
			cursor: pointer;
		}
		& path:hover {
			fill: $Clr-CardBackground;
		}
		&-button {
			background-color: $Clr-BodyBackground;
			@include flexer();
			border-radius: 50%;
			height: 33px;
			width: 33px;
			padding: 5px;
			cursor: pointer;
			&:hover {
				background-color: $Clr-ModalBackground;
				cursor: pointer;
			}
			& path:hover {
				fill: $Clr-CardBackground;
			}
		}
		&-box {
			box-sizing: border-box;
			width: 248px;
			height: 55px;
			background-color: $Clr-ModalBackground;
			border-radius: 10px;
			@include flexer();
			color: $Clr-CardBackground;
			gap: 1rem;
			position: absolute;
			right: -95px;
			top: -70px;
			& img {
				width: 20px;
				height: 20px;
				&:hover {
					cursor: pointer;
				}
			}
			&:before {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 10px 10px 0 10px;
				border-color: $Clr-ModalBackground transparent transparent transparent;
				content: '';
				position: absolute;
				right: 105px;
				top: 50px;
			}
			&-text {
				font-size: 0.75rem;
				font-weight: $Fw-medium;
				letter-spacing: 5px;
				color: $Clr-CardBackground;
			}
		}
	}
}

@media (max-width: 600px) {
	.product {
		@include flexer(column, center, center);
		width: 20.4375rem;
		height: auto;
		overflow: hidden;
		&__image {
			position: relative;
			height: 12.5rem;
			width: 100%;
			overflow: hidden;
			& img {
				object-fit: fill;
				border-bottom-left-radius: 0;
				width: 100%;
				position: absolute;
				top: -16px;
				height: 16.3125rem;
			}
		}
		&__info {
			gap: 0;
			min-height: 19.5rem;
			height: auto;
			padding: 2rem;
		}
		&__title {
			font-size: 1rem;
			line-height: 1.5rem;
			letter-spacing: 0.01rem;
			margin-top: 1rem;
		}
		&__description {
			margin-top: 0.81rem;
			font-weight: $Fw-medium;
			letter-spacing: 0.00813rem;
		}
	}
	.author {
		margin-top: 2.5rem;
		position: relative;
		&__share-box {
			@include flexer(row, left, center);
			padding: 1rem 2rem;
			top: -16px;
			right: 0;
			width: 20.4375rem;
			height: 4.5625rem;
			border-radius: 0 0 10px 10px;
			right: -32px;
			position: absolute;
			&:before {
				display: none;
			}
		}

		&__share-button {
			z-index: 10;
			&:hover {
				background-color: $Clr-ModalBackground;
			}
			& path:hover {
				fill: $Clr-CardBackground;
			}
		}
	}
}

.author__share-box--active-desktop {
	display: none;
}
.author__share-box--active-button {
	.author__share-button {
		background-color: purple;

		&-arrow {
			fill: $Clr-ModalBackground;
		}
	}
}
